header{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 1110px;
    height: 60px;
    padding-top: 15px;
    margin-top: 0;
    font-size: 25px;
    font-weight: 700;
    align-items: center;
}



.nav{
    display: flex;
    align-items: center;
}

.nav img{
    width: 23px;
    height: 23px;
}

.busketImg{
    position: relative;
    margin-left: 35px;
}

.counter{
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #FFA542;
    color: #fff;
    box-sizing: border-box;
    height: 19px;
    width: 19px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    font-weight: 600;
    font-size: 14px;
}

a{
    text-decoration: none;
    color: #000;
}



.likesImg:hover, .busketImg:hover {
    transform: scale(1.2);
}


footer{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    justify-content: space-between;
    box-sizing: border-box;
    width: 1110px;
    height: 149px;
    background-color: #fff;
    padding: 40px 15px 0 30px;
    border-radius: 30px 30px 0 0;
    box-shadow: 0px 0px 20px 0px #0000001A;
    font-weight: 400;
    font-size: 17px;
    position: relative;
    bottom: 0;
}


footer a:hover{
    color:rgb(192, 0, 0);
    transition: 0.5s;
    font-weight: 600;
}

.ko{
    width: 100px;
}

.ko a{
    display: block;
    margin-bottom: 10px;
}
.lang{
    margin-top: 30px;
    display: flex;
}

.lang img{
    margin-right: 4px;
}

.lang button{
    border: none;
    background-color: #fff;
    font-weight: 500;
    font-size: 15px;
}

.lang button:hover{
    color: #b7b941;
    transition: 0.5s;
    cursor: pointer;
}

.lang button:focus{
    color: #b7b941
}

.contact{
    display: grid;
    grid-template-columns: repeat(3, 60px);
    justify-content: end;
    align-items: center;
    height: 40px;
    margin-top: -10px;
}

.contact img:hover{
    transform: scale(1.2);
    cursor: pointer;
    transition: 0.4s;
}